.DS_Store
raw_data/bos/listings-1.csv
raw_data/lax/calendar.csv
raw_data/lax/reviews-1.csv
raw_data/sfo/calendar.csv
raw_data/sfo/reviews-1.csv
pre_processing/googlemaps/.env

Tanny/df_sentiment.pkl
Tanny/reviews.pkl

.ipynb_checkpoints
pre_processing/googlemaps/sample/.ipynb_checkpoints
SafeIndex/amentities_safe_df.pkl
pre_processing/googlemaps/raw.txt
pre_processing/googlemaps/results/sfo.txt
SafeIndex/Old data before normalization/amentities_safe_df.pkl
