.DS_Store
raw_data/bos/listings-1.csv
raw_data/lax/calendar.csv
raw_data/lax/reviews-1.csv
raw_data/sfo/calendar.csv
raw_data/sfo/reviews-1.csv
pre_processing/googlemaps/.env


.ipynb_checkpoints
pre_processing/googlemaps/sample/.ipynb_checkpoints
